*~
*.o
*.lo
*.la
*.deps/
*.libs/
Makefile
/src/waterline
/src/waterlinectl
/src/plugins/libbuiltin_plugins.a
/data/template/panels/panel.panel
/po/*.gmo
/po/Makefile.in
/po/POTFILES
/po/stamp-it
/stamp-h1
/config.h
/config.log
/config.status
/libtool
/waterline.pc

Makefile.in
/aclocal.m4
/compile
/configure
/ltmain.sh
/missing
