*.deps/
*.la
*.libs/
*.lo
*.o
*~
/ABOUT-NLS
/INSTALL
/aclocal.m4
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.rpath
/config.status
/config.sub
/configure
/data/template/panels/panel.panel
/depcomp
/install-sh
/intltool-extract.in
/intltool-merge.in
/intltool-update.in
/libtool
/ltmain.sh
/m4/
/missing
/po/*.gmo
/po/Makefile.in
/po/Makefile.in.in
/po/Makevars.template
/po/POTFILES
/po/Rules-quot
/po/boldquot.sed
/po/en@boldquot.header
/po/en@quot.header
/po/insert-header.sin
/po/quot.sed
/po/remove-potcdate.sin
/po/stamp-it
/src/plugins/libbuiltin_plugins.a
/src/waterline
/src/waterlinectl
/stamp-h1
/symbols_all
/symbols_from_bin_waterline
/symbols_from_headers
/waterline.pc
Makefile
Makefile.in
